.header-info{height:400px;background-color:black; color: white;}
.main-menu{background-color: yellow; height: 40px; color: black;font-size:2em;}
.header-title{text-transform: uppercase; text-align: center; font-size: 100px;}
.header-detail{font-style: italic; text-align: center; font-size:40px ;} 



@media screen and (min-width:1300px){
.header-info{display: flex;flex-flow: column; }
.header-content{flex-grow: 1; display: flex;flex-flow: column; justify-content: center; }


}